http_interactions:
- request:
    method: get
    uri: https://app.account/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ytNUA646PoaO9XwEpTm6Th
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user_id":"11oaO9XwEpTm6","name":"QA User","email":"qa@veek.com.br","userState":"Active","userPlan":"Amazing Phone Plan","phone":5511989898787}'
  recorded_at: Thu, 11 Jul 2018 19:23:20 GMT
recorded_with: VCR 4.0.0
